.container{
	width: 60%;
	margin:0 auto;
	text-align: center;

}

#wrap{
	font-weight: 900;
	text-align: center;

}

header{
	background-color: deeppink;
	color: whitesmoke;
	padding: 50px;
	border-radius: 25px;
}

#caseun{
	margin: auto;
	background-color: white;
	border:10px solid hotpink;
	padding: 5px;
	float: left;

}

#casedeux{
	padding: 10px;
	border: 80px solid purple;
	margin-right: auto;
	margin-left: auto;
}

h1{
	text-align: center;
	margin: 0;
	font-weight: 800;
	color: white;
	text-decoration: underline;
	text-decoration-color: darkviolet;

}
body{
	background:url("images/pinkpattern.jpg");
}



p{
	font-family: fantasy;
	font-weight: 700;
}

footer{
 	text-align: center;
 }