body {
	background-color: hotpink;
}

h1{
	color:white;
	text-decoration: underline;
	margin:30px;
	font-family: fantasy;
	background-color: black;
	text-transform: capitalize;
}

h2{
	color: rebeccapurple;
	background-color: white;
	font-family: serif;
}

p{
	color:limegreen;
	background: yellow;
}

li{
	font-family: monospace;
	background-color: blueviolet;

}

h3{
	background-color: indianred;
	font-family:sans-serif;
}
